#userid_container {
  top: 0px;
  left: 10px;
  width: 1200px;
  height: 80px;
  overflow: scroll;
}

#sessionList_container {
  top: 80px;
  left: 0px;
  width: 1000px;
  height: 400px;
  overflow: scroll;
}

#sessionGraph_container {
  top: 500px;
  left: 0px;
  width: 680px;
  height: 380px;
  margin: 0 auto;
}

#sessionEvents_container {
  background-color: lightgray;
  top: 900px;
  left: 0px;
  width: 1400px;
  height: 400px;
}

.dashboardGraph {
  float: left;
}

.slider {
  float: left;
}
